.trainers{
  margin: 0;
  &__slider{
    width: auto;
    color: #141024;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
  }
  &__name{
    color: #141024;
    font-family: Jost;
    font-size: 30px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
  }
}

.trainer-dialog{
  &__head{
    color: #141024;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
  }
  &__position{
    color: rgba(20, 16, 36, 0.70);
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  &__text-info{
    color: #D52027;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  &__text{
    white-space: pre-wrap;
    color: #141024;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  &__text-underline{
    background: rgba(20, 16, 36, 0.11);
    width: 860px;
    height: 1px;
  }
}

@media (max-width:1000px){
  .trainers{
    &__slider{
      width: auto;
    }
    &__img{
      width: auto !important;
      height: 306px !important;
    }
  }
}

@media (max-width:800px) {
  .trainer-dialog{
    &__head{
      font-size: 16px;
    }
  }
}