.main-header{
  background: #141024;
  &__name{
    color: #FFF;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 112px */
  }
  &__body{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
  }
  &__button{
    gap: 10px;
    border-radius: 5px;
    background: #D52027;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
  }
}

@media (max-width: 1919px){
  .main-header{
    &__img{
      width: calc( 780px / 1.2 ) !important;
      height: calc( 883px / 1.2 ) !important;
    }
  }
}

@media (max-width: 1400px){
  .main-header{
    &__img{
      width: calc( 780px / 1.5 ) !important;
      height: calc( 883px / 1.5 ) !important;
    }
  }
}

@media (max-width: 960px){
  .main-header{
    &__img{
      width: calc( 780px / 2.4 ) !important;
      height: calc( 883px / 2.4 ) !important;
    }
  }
}
