.feedback{
  background-color: #D52027;
  background-image: url("/assets/images/feedback-background.png");
  &__text{
    color: #FFF;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  &__text-head{
    color: #FFF;
    font-family: Jost;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }
  &__form-btn{
    border-radius: 5px;
    background: #141024 !important;
  }
}

.v-field__input{
  background-color: white !important;
  border-radius: 0% !important;
}

@media (max-width: 400px) {
  .feedback{
    &__text{
      font-size: 16px;
    }
    &__text-head{
      font-size: 25px;
    }
  }

}