.trainers{
  margin: 0;
  &__slider{
    width: 1680px;
    color: #141024;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-left: 250px;
  }
  &__name{
    color: #141024;
    font-family: Jost;
    font-size: 30px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
  }
}

.trainer-dialog{
  &__head{
    color: #141024;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
  }
  &__position{
    color: rgba(20, 16, 36, 0.70);
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  &__text-head{
    color: #D52027;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  &__text{
    white-space: pre-wrap;
    color: #141024;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  &__text-underline{
    background: rgba(20, 16, 36, 0.11);
    width: 860px;
    height: 1px;
  }
}