@charset 'UTF-8';

.custom-icon {
  svg {
    width: 1em;
    height: 1em;
    fill: currentColor !important;
    * {
      fill: currentColor !important;
    }
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Jost";
}

.v-container{
  max-width: 1160px !important;
}

.section-title{
  color: #141024;
  font-family: Jost;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

@media (max-width: 720px) {
  .section-title{
    font-size: 15px;
  }
}