@charset 'UTF-8';
.app-bar{
  &__content{
    background: #141024;
  }
  &__logo{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 48px */
  }
  &__links{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
  }
  &__tel{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 48px */
  }
}

@media (max-width: 1000px) {
  .app-bar{
    &__logo{
    font-size: 20px;
    }
    &__links{
      font-size: 15px;
    }
    &__tel{
      font-size: 20px;
    }
  }
}

@media (max-width: 790px) {
  .app-bar{
    &__logo{
    font-size: 18px;
    }
    &__links{
      font-size: 10px;
    }
    &__tel{
      font-size: 14px;
    }
  }
}